{% extends 'base.html.twig' %}

{% block title %}Créer compte{% endblock %}

{% block body %}
    <div class="container">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <br>
    <h1>Creez votre compte</h1>
    <br>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
{#        {{ form_row(registrationForm.agreeTerms) }}#}
    <br>
    <button type="submit" class="btn">Créer compte</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}