{% extends 'base.html.twig' %}

{% block title %}Concerts{% endblock %}

{% block body %}
<div class="container">
<br>
<h1> Voici les concerts programmés.</h1>
<br>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Groupe</th>
      <th scope="col">Tournée</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

    {% for concert in concerts %}
        <tr>
            {% for band in concert.bands %}
                <td href="{{ path('band_show', {id: band.id}) }}">{{ band.name }}</td>

            <td>{{ concert.tourName }}</td>
            <td>{{ concert.date|date('d-m-Y') }}</td>
            
            <td>
                <a href="{{ path('concert_edit', {id: concert.id}) }}"
                   role="button" class="btn btn-primary">Mettre à jour</a>
                <a href="{{ path('concert_delete', {id: concert.id}) }}"
                   role="button" class="btn btn-danger">Supprimer</a>
            </td>

            {% endfor %}

        </tr>
    {% endfor %}


</table>
  <a href="{{ path('concert_create') }}">
      Créer un nouveau concert</a>
</div>

{% endblock %}